body {
    font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    line-height: 1.6;
    height: 100%;
    width: 100%;
    padding-top: 5.2rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: #09f;
}

a:hover {
    text-decoration: underline;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    height: 5.2rem;
}

.nav h1 {
    display: inline;
    font-size: 1.6rem;
    line-height: 5.2rem;
    padding: 0;
    text-decoration: none;
}

.nav__welcome {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.nav__welcome span {
    font-size: 1.2rem;
}

.memo-list {
    display: grid;
}

.memo {
    border-radius: 2px;
    border: 1px solid #333;
    display: inline-block;
}

@media (min-width: 600px) {
    .login__form-container {
        display: grid;
        grid-template-columns: calc(50% - 10px) calc(50% - 10px);
        grid-gap: 20px;
    }
}
